.education-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  gap: 12px;
}

@media (max-width: 960px) {
  .education-wrapper {
    flex-direction: column;
  }
}

.education-title {
  font-size: 52px;
  text-align: center;
  font-weight: 600;
  margin-top: 100px;
  color: #33333b;
}

@media (max-width: 768px) {
  .education-title {
    margin-top: 12px;
    font-size: 32px;
  }
}

.education-desc {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #33333b;
}

@media (max-width: 768px) {
  .education-desc {
    font-size: 16px;
  }
}
